#! /usr/bin/fish
#             ___
#       ____ |__ \ ____              _____      personal page: https://a2n-s.github.io/ 
#      / __ `/_/ // __ \   ______   / ___/      github   page: https://github.com/a2n-s 
#     / /_/ / __// / / /  /_____/  (__  )       my   dotfiles: https://github.com/a2n-s/dotfiles 
#     \__,_/____/_/ /_/           /____/
#                _ _
#               | (_)
#           __ _| |_  __ _ ___  ___  ___
#          / _` | | |/ _` / __|/ _ \/ __|
#      _  | (_| | | | (_| \__ \  __/\__ \
#     (_)  \__,_|_|_|\__,_|___/\___||___/
#
# Description:  my aliases
# Dependencies:
# License:      https://github.com/a2n-s/dotfiles/LICENSE 
# Contributors: Stevan Antoine
#
#               Table of Content:
#                 misc.
#                 git shortcuts.
#                 tmux shortcuts.
#                 network shortcuts.
#                 jupyter shortcuts.
#                 shutdown shortcuts.
#                 rm shortcuts.
#                 pacman shortcuts.
#                 color commands.
#                 applications.

# >>> misc.
# shows all the media devices connected.
alias dfm='df -h | grep media | sed "s/\s\+/ /g" | cut -d" " -f6,1'

# automatically connects to an HDMI-2 monitor on the right of the main laptop screen.
set MAIN_DISPLAY   "eDP-1"
set SECOND_MONITOR "HDMI-2"
alias hdmic='xrandr --output $MAIN_DISPLAY --auto --output $SECOND_MONITOR --mode 1920x1080 --rate 60 --right-of $MAIN_DISPLAY'
alias hdmim='xrandr --output $MAIN_DISPLAY --auto --output $SECOND_MONITOR --mode 1920x1080 --rate 60 --same-as  $MAIN_DISPLAY'
alias hdmib='xrandr --output $SECOND_MONITOR --brightness'
alias hdmid='xrandr --output $MAIN_DISPLAY --auto --output $SECOND_MONITOR --off'

# automatic copy from terminal output with xclip.
alias xcc='xclip -selection c'

# list the packages that match the pattern given after the alias.
alias pkgl='tail -n +1 .pkgslists/* | grep -e "==>.*<==" -e'

# uncomment to use colored GCC warnings and errors
#export GCC_COLORS='error=01;31:warning=01;35:note=01;36:caret=01;32:locus=01:quote=01'

# a way to manage bluetooth devices.
alias bmm='blueman-manager'

# to list all the git repositiories inside the home directory.
alias lgr='find $HOME -type d | grep "\.git\$" | sed "s/\/\.git//"'

# allows to see any csv file directly in the terminal.
alias seecsv='perl -pe "s/((?<=,)|(?<=^)),/ ,/g;" "$argv" | column -t -s, | less  -F -S -X -K ;'
# <<<
#
# >>> git shortcuts.
alias g='git'
# interacts with my config's git bare repository.
alias cfg='/usr/bin/git --git-dir=/home/ants/.dotfiles --work-tree=/home/ants'
# <<<

# >>> tmux shortcuts.
alias tls='tmux ls'               # list the sessions.
alias tns='tmux new -s'           # creates a new session with name given after the alias.
alias tat='tmux attach -t'        # attaches to the session given after the alias.
alias tkt='tmux kill-session -t'  # kills the session with name given after the alias.
# <<<

# >>> network shortcuts.
alias ncua='nmcli c up "a2n-s"'    # connects to my 4g, change to what you want.
alias ncue='nmcli c up "eduroam"'  # connects to the network of my school.
# <<<

# >>> jupyter shortcuts.
alias jpy='jupyter'
alias jnb='jupyter-notebook'
# <<<

# >>> shutdown shortcuts.
alias sdn='shutdown now -h'
alias sdnr='shutdown now -h -r'
# <<<

# >>> rm shortcuts.
alias rmv='rm -v'
alias rmi='rm -i'
alias rmr='rm -r'
alias rmrf='rm -rf'
# <<<
#
# >>> pacman shortcuts.
alias p='sudo pacman'
alias pu='sudo pacman -Syu'
# <<<

# >>> color commands.
# enable color support of ls and also add handy aliases
alias ls='ls --color=auto'
alias dir='dir --color=auto'
alias vdir='vdir --color=auto'
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

# some more ls aliases
alias lalf='ls -alF'
alias la='ls -A'
alias lcf='ls -CF'
alias ll='ls -l'
alias llha='ls -lha'
# <<<


# >>> applications.
alias discord="$HOME/Discord/Discord > /dev/null 2> /dev/null &"
# <<<
