#                    _ __                   _____
#             ____ _(_) /__________  ____  / __(_)___ _
#            / __ `/ / __/ ___/ __ \/ __ \/ /_/ / __ `/
#      _    / /_/ / / /_/ /__/ /_/ / / / / __/ / /_/ /
#     (_)   \__, /_/\__/\___/\____/_/ /_/_/ /_/\__, /
#          /____/                             /____/
#
# my personal git config with some aliases.

[user]
	name = a2n-s
	email = 44101798+AntoineStevan@users.noreply.github.com
[init]
	defaultBranch = main
[core]
	editor = vim
[alias]
	st      = status
	tr      = log --graph --oneline --all --decorate
	ga      = log --graph --all                                  # expanded version of the above.
	lf      = ls-files                                           # list tracked files.
	lfs     = !git ls-files | xargs ls -l | sort -nrk5           # sorts the tracked files by order of size.
	lfsh    = !git ls-files | xargs ls -l | sort -nrk5 | head -n # show the n biggest tracked files.
	praff   = pull --rebase --autostash --ff
	praffom = pull --rebase --autostash --ff origin main
	praffum = pull --rebase --autostash --ff upstream main
	pom     = push origin main
	rh      = reset --hard
	cfd     = clean -fd
	cdf     = clean -fd
	cm      = commit
