# hidden directories
.arduino15/
.arduinoIDE/
.cache/
.cargo/
.docker/
.gnome/
.gnupg/
.ipfs/
.local/
.mozilla/
.npm/
.opam/
.pki/
.screen/
.snap/
.ssh/
.steam/
.thunderbird/

# regular directories
documents/
downloads/
media/
Screenshots/
snap/

# hidden files
.Xauthority
.bash_history
.fzf.bash
.grip
.grip-oggenc
.icons/default/cursors
.lesshst
.lldb/lldb-widehistory
.moc/equalizer
.moc/last_directory
.moc/softmixer
.pam_environment
.profile
.pulse-cookie
.python_history
.steampath
.steampid
.sudo_as_admin_successful
.viminfo
.wget-hsts
.zshenv

# the config directories
.config/.keymapp/
.config/Arduino IDE/
.config/Rocket.Chat/
.config/arduino-ide/
.config/autostart/
.config/btop/
.config/chromium/
.config/cura/
.config/discord/
.config/enchant/
.config/environment.d/
.config/evolution/
.config/fontconfig/
.config/gedit/
.config/glab-cli/
.config/gnome-control-center/
.config/goa-1.0/
.config/grip/cache-*/
.config/ibus/
.config/irust/themes/
.config/kdeconnect/
.config/kicad/
.config/libreoffice/
.config/neofetch/
.config/nvim-*
.config/pulse/
.config/qutebrowser/qsettings/
.config/rustup/downloads/
.config/rustup/tmp/
.config/rustup/toolchains/
.config/rustup/update-hashes/
.config/session/
.config/systemd/
.config/vim/plugged/
.config/wally/

# the config files
.config/alacritty/alacritty.yml.*
.config/alacritty/theme.toml
.config/asciinema/install-id
.config/bashtop/bashtop.cfg
.config/bpytop/bpytop.conf
.config/btop/btop.conf
.config/dconf/user
.config/flameshot/flameshot.ini
.config/gh/hosts.yml
.config/gnome-initial-setup-done
.config/.gsd-keyboard.settings-ported
.config/gtk-3.0/bookmarks
.config/htop/htoprc
.config/kactivitymanagerdrc
.config/kconf_updaterc
.config/kdeglobals
.config/kglobalshortcutsrc
.config/kolourpaintrc
.config/lazygit/state.yml
.config/lvim/plugin/packer_compiled.lua
.config/menus/applications-merged/xdg-desktop-menu-dummy.menu
.config/monitors.xml
.config/mpd/database
.config/mpd/pid
.config/ncmpcpp/error.log
.config/ncspot/userstate.cbor
.config/nushell/history.*
.config/nushell/plugin.*
.config/nvim/plugin/packer_compiled.lua
.config/okularpartrc
.config/okularrc
.config/pulse/cookie
.config/QtProject.conf
.config/user-dirs.dirs
.config/user-dirs.locale
.config/vim/autoload/plug.vim

# i symlink the Neovim config from Git repos elsewhere, no need to track that
.config/nvim
