! To only apply colors to your terminal, for example, prefix
! the color assignment statement with its name. Example:
!
! URxvt*background:         #xxxxxx

! THEME: Gruvbox_Dark_Hard
*fadeColor:               #3c3836
*background:              #1d2021
*foreground:              #ebdbb2
*pointerColorBackground:  #d65d0e
*pointerColorForeground:  #ebdbb2
*cursorColor:             #ebdbb2
*fading:                  40

*color0:                  #3c3836
*color1:                  #cc241d
*color2:                  #98971a
*color3:                  #d79921
*color4:                  #458588
*color5:                  #b16286
*color6:                  #689d6a
*color7:                  #a89984
*color9:                  #928374
*color8:                  #fb4934
*color10:                 #b8bb26
*color11:                 #fabd2f
*color12:                 #83a598
*color13:                 #d3869b
*color14:                 #8ec07c
*color15:                 #fbf1c7
