! To only apply colors to your terminal, for example, prefix
! the color assignment statement with its name. Example:
!
! URxvt*background:         #xxxxxx

! THEME: Solarized_Dark
*fadeColor:               #002731
*background:              #002b36
*foreground:              #839496
*pointerColorBackground:  #073642
*pointerColorForeground:  #93a1a1
*cursorColor:             #93a1a1
*fading:                  40

*color0:                  #002731
*color1:                  #d01b24
*color2:                  #728905
*color3:                  #a57705
*color4:                  #2075c7
*color5:                  #c61b6e
*color6:                  #259185
*color7:                  #e9e2cb
*color9:                  #001e26
*color8:                  #bd3612
*color10:                 #465a61
*color11:                 #52676f
*color12:                 #708183
*color13:                 #5856b9
*color14:                 #81908f
*color15:                 #fcf4dc
