* {
    bg-col:       #1e1e2e;
    bg-col-light: #1e1e2e;
    border-col:   #988ba2;
    selected-col: #1e1e2e;
    blue:         #96cdfb;
    fg-col:       #d9e0ee;
    fg-col2:      #f28fad;
    grey:         #d9e0ee;
    width:        600;
}
