
configuration{
    modi: "run,drun,window";
    font: "monocraft 20";
    show-icons: true;
    icon-theme: "Oranchelo";
    terminal: "st";
    drun-display-format: "{icon} {name}";
    location: 0;
    monitor: "eDP-1";
    disable-history: false;
    hide-scrollbar: true;
    display-drun: "   Apps ";
    display-run: "   Run ";
    display-window: " 﩯  window";
    display-Network: " 󰤨  Network";
    sidebar-mode: true;
}

@theme "catppuccin"
