body {
  background-color: #282a36 !important;
  color: #d0d0d0 !important;
}

header {
  background-color: #282a46 !important;
  color: #d0d0d0 !important;
}

pre {  /* the code preview */
  background-color: #686a66 !important;
  color: #d0d0d0 !important;
}

.highlight .nb {  /* map */
  color: #d0d0d0 !important;
}

.highlight .n {  /* key */
  color: #d0d0d0 !important;
}

.highlight .o {  /* + */
  color: #d0d0d0 !important;
}

.highlight .c1 {  /* comment */
  color: #d0d0d0 !important;
}

.highlight .nf {  /* command */
  color: #ffd0d0 !important;
}

.highlight .l {  /* args */
  color: #d0ffd0 !important;
}

code.literal {  /* the code preview */
  background-color: #282a46 !important;
  color: #f07178 !important;
}

input {  /* the search bar on the left */
  background-color: #282a36 !important;
  color: #d0d0d0 !important;
}

aside {  /* the whole left side of the page */
  background-color: #282a36 !important;
  color: #d0d0d0 !important;
}

p {  /* any paragraph of text */
	color: #82aaff !important;
}

a {  /* some sections of text, inside tables or menu for instance */
  background-color: #282a36 !important;
	color: #82aaff !important;
}

th {  /* the table head */
  background-color: #282a96 !important;
	color: #82aaff !important;
}

h1, h2, h3 {  /* the titles */
	color: #f07178 !important;
}

