/*
 *
 *                  _    __ _ _
 *   __ _ ___  __ _| |_ / _(_) |___ ___  WEBSITE: https://goatfiles.github.io
 *  / _` / _ \/ _` |  _|  _| | / -_|_-<  REPOS:   https://github.com/goatfiles
 *  \__, \___/\__,_|\__|_| |_|_\___/__/  LICENCE: https://github.com/goatfiles/dotfiles/blob/main/LICENSE
 *  |___/
 *          MAINTAINERS:
 *              AMTOINE: https://github.com/amtoine antoine#1306 7C5EE50BA27B86B7F9D5A7BA37AAE9B486CFF1AB
 *              ATXR:    https://github.com/atxr    atxr#6214    3B25AF716B608D41AB86C3D20E55E4B1DE5B2C8B
 *
 */

body {
  background-color: #282a36 !important;
  color: #d0d0d0 !important;
}

header {
  background-color: #282a46 !important;
  color: #d0d0d0 !important;
}

p {  /* any paragraph of text */
    color: #82aaff !important;
}

 div.wy-nav-content {  /* the code preview */
  background-color: #282a36 !important;
   color: #f07178 !important;
 }

 a {  /* some sections of text, inside tables or menu for instance */
   background-color: #282a36 !important;
   color: #71c078 !important;
 }

 a.reference.internal {  /* some sections of text, inside tables or menu for instance */
   background: #282a36 !important;
   color: #71c078 !important;
 }

 a.reference.internal.current {  /* some sections of text, inside tables or menu for instance */
   background: #484a56 !important;
   color: #71c078 !important;
 }

 div.panel-heading {  /* the code preview */
   background-color: #282a96 !important;
   color: #f07178 !important;
 }

 div.panel-body {  /* the code preview */
   background-color: #282a36 !important;
   color: #f07178 !important;
 }

 div.screenshot.thumbnail {  /* the code preview */
   background-color: #282a36 !important;
   color: #f07178 !important;
 }

 th {  /* the table head */
   background-color: #282a96 !important;
   color: #82aaff !important;
 }

 td {  /* the table head */
   background-color: #282a36 !important;
   color: #82aaff !important;
 }

 code {  /* the code preview */
   background-color: #282a46 !important;
   color: #f07178 !important;
 }

 h1, h2, h3 {  /* the titles */
   color: #f07178 !important;
 }
