/*       ____ |__ \ ____              _____      personal page: https://amtoine.github.io/  */
/*      / __ `/_/ // __ \   ______   / ___/      github   page: https://github.com/amtoine  */
/*     / /_/ / __// / / /  /_____/  (__  )       my   dotfiles: https://github.com/amtoine/dotfiles  */
/*     \__,_/____/_/ /_/           /____/ */
/*                               _____             __                   ____      __        __        __                __                   __   __ */
/*             _________  ____  / __(_)___ _     _/_/  _______  _______/ __/    _/_/  _____/ /___  __/ /__  _____     _/_/  _______  _______/ /__/ /__  __________         _______________ */
/*            / ___/ __ \/ __ \/ /_/ / __ `/   _/_/   / ___/ / / / ___/ /_    _/_/   / ___/ __/ / / / / _ \/ ___/   _/_/   / ___/ / / / ___/ //_/ / _ \/ ___/ ___/        / ___/ ___/ ___/ */
/*      _    / /__/ /_/ / / / / __/ / /_/ /  _/_/    (__  ) /_/ / /  / __/  _/_/    (__  ) /_/ /_/ / /  __(__  )  _/_/    (__  ) /_/ / /__/ ,< / /  __(__  |__  )   _    / /__(__  |__  ) */
/*     (_)   \___/\____/_/ /_/_/ /_/\__, /  /_/     /____/\__,_/_/  /_/    /_/     /____/\__/\__, /_/\___/____/  /_/     /____/\__,_/\___/_/|_/_/\___/____/____/   (_)   \___/____/____/ */
/*                                 /____/                                                   /____/ */
/**/
/* Description:  TODO */
/* Dependencies: TODO */
/* License:      https://github.com/amtoine/dotfiles/blob/main/LICENSE  */
/* Contributors: Stevan Antoine */

body {
	font-size: 13px;
    background-color: #282a36 !important;
    color: #d0d0d0 !important;
}

#header {
    background-color: #282a36 !important;
    clear: both;
    color: #c3e88d !important;
}

a {
	color: #82aaff !important;
}

#header a {
	color: #e1acff !important;
}

#menu {
	clear: both;
    color: #c792ea;
	font-weight: bold;
    overflow: hidden;
    padding: 0.7ex;
    border: 0px !important;
}

#menu a {
	color: #d0d0d0 !important;
}

#nav li a:hover {
    background-color: #282a36 !important;
}

h1, h2 {
	color: #f07178 !important;
}

