body {
  background-color: #282a36 !important;
  color: #d0d0d0 !important;
}

header {
  background-color: #282a46 !important;
  color: #d0d0d0 !important;
}

div.inside-article {
  background-color: #282a56 !important;
  color: #d0d0d0 !important;
}

p {  /* any paragraph of text */
    color: #82aaff !important;
}

a {  /* some sections of text, inside tables or menu for instance */
  background-color: #282a36 !important;
  color: #82aaff !important;
}

h1, h2.entry-title, h3 {  /* the titles */
  color: #f07178 !important;
}
