[Desktop Entry]
Version=1.0
Name=mocp
Comment=TODO
Keywords=TODO
Exec=/usr/bin/mocp -M /home/ants/.config/moc
Icon=/usr/share/icons/a2n-s-icons/ok.png
Terminal=true
Type=Application
