[Desktop Entry]
Version=1.0
Name=ncdu
Comment=TODO
Keywords=TODO
Exec=/usr/bin/ncdu -x /
Icon=/usr/share/icons/a2n-s-icons/ok.png
Terminal=true
Type=Application
