[Desktop Entry]
Version=1.0
Name=rofi-bluetooth
Comment=TODO
Keywords=TODO
Exec=/usr/bin/rofi-bluetooth
Icon=/usr/share/icons/a2n-s-icons/ok.png
Terminal=false
Type=Application
