[Desktop Entry]
Version=1.0
Name=shell
Comment=TODO
Keywords=TODO
Exec=/usr/bin/fish %u
Icon=/usr/share/icons/a2n-s-icons/ok.png
Terminal=true
Type=Application
