[Desktop Entry]
Version=1.0
Name=vimb
Comment=TODO
Keywords=TODO
Exec=/usr/bin/tabbed -c vimb -e %u
Icon=/usr/share/icons/a2n-s-icons/ok.png
Terminal=false
Type=Application
